header {
    display: flex;
    justify-content: space-around;

    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    text-decoration: none;
    color: aliceblue;

}

.favorites {
    text-decoration: none;
    color: aliceblue;

}